.login {
	border-radius: 10px;
	border: 1px solid rgb(24, 184, 45);
	padding: 15px;
	margin: 0 auto;
	margin-top: 300px;
	// text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 600px;

	&__warning {
		position: relative;
		background: #FFFFFF;
		border: 1px solid rgba(222, 220, 220, 0.695907);
		box-sizing: border-box;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
		font-size: 13px;
		line-height: 123%;
		color: #D0021B;
		padding: 7px 8px 7px 8px;
		text-align: center;
		width: 198px;
		margin-top: 0px;
		border-radius: 5px;
	}

	
	
}